body{
  background-color: grey;
}
.container{
  width: 550px;
height: 704px;
top: -392px;
left: 545px;
gap: 0px;
margin: 50px auto;
background-color: white;
}

header{
  width: 550px;
  height: 55px;
  gap: 0px;
  background: #F55A5A;  
}
nav{
width: 300px;
height: 24px;
padding: 15px;
margin-left: 213px;
gap: 0px;

color: #FFFFFF;
display: flex;
text-align: center;

}
.globe{
  width: 24px;
height: 24px;
top: 16px;
left: 213px;
gap: 0px;

color: #DADADA;
}
.travel{
  width: 109px;
height: 16px;
top: 20px;
left: 244px;
gap: 0px;

font-family: Inter;
font-size: 14.46px;
font-weight: 500;
line-height: 17.5px;
letter-spacing: -0.075em;
text-align: left;
color: #FFFFFF;
}
.box{
  width: 471px;
height: 168px;
margin-top:40px;
margin-left: 39px;
gap: 0px;
border-radius: 5px 0px 0px 0px;


display: flex;
}
.images{
  width: 125px;
height: 168px;
top: 100px;
left: 40px;
gap: 0px;
border-radius: 5px ;


}
.locate{
  display: flex;
  width:200px;
}
.loc{
  
  gap: 0px;
  
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 12.39px;
  letter-spacing: 0.17em;
  text-align: left;
  color: #2B283A;
}
.map{
  width: 206px;
  height: 13px;
  top: 527px;
  margin-left: 10px;
  gap: 0px;
  
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 12.39px;
  text-align: left;
  color: #918E9B;
  text-decoration: underline;
    
}
.card{
  display: inline-block;
  margin-top: 30px;
  margin-left: -205px;
}
.tit{
  width: 326px;
height: 30px;

gap: 0px;

font-family: Inter;
font-size: 25px;
font-weight: 700;
line-height: 30.26px;
text-align: left;
color: #2B283A;

}
.date{
  width: 319px;
height: 11px;
margin-top: 18px;

gap: 0px;

font-family: Inter;
font-size: 10.24px;
font-weight: 700;
line-height: 12.39px;
text-align: left;
color: #2B283A;

}
.navi{
  width: 13px;
height: 13px;
top: 120px;
margin-left: 10px;
gap: 0px;

color:#DADADA
}
.content{
  width: 326px;
height: 45px;
margin-top: 15px;
text-align: justify;
gap: 0px;

font-family: Inter;
font-size: 10.24px;
font-weight: 400;
line-height: 15.36px;
text-align: left;
color: #2B283A;

}